* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary  */

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral */

  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Font size */

  --paragraph: 18px;

  /* Font family  */

  --font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--main-bg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

.container {
  height: 600px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.sub-container {
  width: 87%;
  margin: 0 auto;
}

.body-image {
  position: relative;
}

.background {
  background: var(--cyan);
  width: 99%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  
}

.background::before {
  content: " " url(/images/icon-view.svg);
  position: absolute;
  top: 38%;
  left: 42%;
  visibility: hidden;
}

.background:hover::before {
  content: " " url(/images/icon-view.svg);
  position: absolute;
  top: 38%;
  left: 42%;
  visibility: visible;
  cursor: pointer;
  /* z-index: 1; */
  transition: .2 ease-in-out;

}

.equilibrium {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.equilibrium::before {
  content: " " url(/images/icon-view.svg);
}

.equilibrium:hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0.3;
}

.equilibrium-span {
  padding: 20px 0;
  font-size: 25px;
  font-weight: 600 ;
}

.equilibrium-span a {
  text-decoration: none;
  color: var(--white);
}

.equilibrium-span a:hover {
  color: var(--cyan);
}

.equilibrium-span:hover {
  cursor: pointer;
  color: var(--cyan);
}

p {
  font-size: var(--paragraph);
  line-height: 23px;
  color: var(--soft-blue);
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.sub-item {
  display: flex;
}

.span-1 {
  font-weight: bold;
  padding-left: 5px;
  color: var(--cyan);
  display: block ruby;
}

.span-1:hover {
  cursor: pointer;
}
.clock {
  padding-right: 5px;
}

.span-2 {
  color: var(--soft-blue);
  display: block ruby;
}

hr {
  color: var(--line);
  background-color: var(--line);
}

.profile {
  display: flex;
  padding: 20px 0 0 0;
  align-items: center;
}

.avater {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.creation {
  color: var(--soft-blue);
}

.juliet {
  color: var(--white);
}

.juliet:hover {
  cursor: pointer;
  color: var(--cyan);
}

.profile, p {
  font-size: var(--paragraph);
}

